* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  padding: 40px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 20px;
}
header h1 {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.encrypt-container,
.decrypt-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-right: 20px;
}

.encrypt-container > h3,
.decrypt-container > h3 {
  text-align: center;
  padding: 10px;
  font-size: 1.5em;
  font-family: "Courier New", Courier, monospace;
}
.encrypt-container > textarea,
.decrypt-container > textarea {
  background-color: #f0f0f0;
  border-radius: 10px;
  width: 400px;
  border: none;
  padding: 10px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
.encrypt-container > input,
.decrypt-container > input {
  background-color: #f0f0f0;
  border-radius: 10px;
  text-align: center;
  width: 400px;
  border: none;
  padding: 10px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
}

.encrypt-container > button,
.decrypt-container > button {
  margin: 10px;
  padding: 10px;
  font-weight: 900;
  background: #1abc9c;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 20px;
  width: max-content;
  height: 40px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
